.body {
    margin: 0;
    height: 100vh;
}
.firstRow {
    /* must adjust padding from objects to its border */
    margin: 3vh auto;
    border: 5px solid black;
    width: 93%;
    height: 20vh;
    padding: 10px;
    display: flex;
}

.rectangle1 {
    background-color: purple;
    width: 3vh;
    height: 15vh;
    margin-right: 50px;
}

.rectangle2 {
    background-color: green;
    width: 30vh;
    height: 95%;
    margin-right: 50px;
}

.circle1 {
    background-color: lightblue;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.secondRow {
    /* must adjust padding from rectangle to its border */
    margin: 3vh auto;
    border-color: black;
    border-width: 5px;
    border-style: dotted;
    width: 93%;
    height: 35vh;
    padding: 5vh;
}

.boxShadow {
    background-color: gold;
    height: 95%;
    width: 95%;
    margin: auto;
}

.helloFriends {
    margin: 3vh auto 30px;
    border-color: gray;
    border-width: 0.5px;
    border-style: solid;
    width: 50%;
    height: 30vh;
    display: flex;
    align-items: center;
}

.friends {
    text-align: center;
    padding: auto;
    margin: auto;
}